#date{
	text-align:center;
}
.card-right p{
	display:none;
}
.building{
	display:none;
}
.attend{
	text-align:center;
	background-color:#834088;
	padding-bottom:5px;
	margin-top:10px;
}
.card-right img{
	height:10%;
	width:10%;
	float: right;
}
 h1{
	font-size:1em;
	margin-top:13%;
}
.event-card p{
	padding-top:5px;
}
.arrow{
	width:10%;
	right:50%;
}