* {
    margin: 0px;
    height: 0px;
    box-sizing: border-box;
}

body {
    padding: 10px;
}


/********** USER ************/
#profile {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: ;
    margin: 0px auto;
}

#username {
    text-align: center;
    margin-top: 10px;
    height: 30px;
	font-size:1.5em;
}
#level{
	height:auto;
	text-align:center;
	margin-top:10px;
}


/********** STATS ************/
#stat-wrap {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.stat {
    width: calc(100%/3);
    border: 1px solid black;
    height: 50px;
}



/********* BADGES *********/
#badgebox-wrap {
    display: flex;
    flex-wrap: wrap;
}

.badgebox {
    width: calc(100%/4);
    height: 80px;
    float: left;
}

.badge {
    display: block;
    margin: 0px auto;
    width: 70px;
    height: 70px;
    background-color: silver;
    border-radius: 50%;
}

#selectionChoices { padding: 7%; }

#selectionChoices > .badgebox {
    width: calc(100%/4);
}

/********** TEMP **********/
#profileChoices{  
	display: none;
    flex-wrap: wrap;
}
#userPhoto{
	height:100%;
}
#stat-wrap{
	text-align:center;
}
#user-level{
	padding-bottom:2%;
	text-align:center;
	display:inline;
}
.progress-outside{
	margin:0 auto;
	width:40%;
	height:30px;
	border: 4px solid #d1d1d1;
    border-radius: 4px;
	display:block;
	overflow:visible;
	background-color:#f2f2f2;
}
.progress-inside{
	width:50%;
	height:100%;
	background-color:#33caff;
	border-radius: 0 4px 4px 0;
	padding:0;	
}
#medalProgress.progress-outside{
	width:75%;
}
#displayMedal{
	height:40%;
	display:block;
	margin: 0 auto;
}
.percent{
	float:right;
	padding-right:10px;
	color:#353535;
	font-size:0.9em;
	
}
#description{
	padding: 3%;
	padding-top: 40px;
	font-size:1.2em;

}
#description div{
	font-size:12pt;
	padding-top:10px;
}
#progress-badge{
	padding-bottom:2%;
	font-weight:bold;
	font-size:1.2em;
}
.clearfix{
	overflow:auto;
}
.center{
	text-align:center;
}