#date{
	text-align:center;
}
.card-right p{
	display:none;
}
.building{
	display:none;
}
.attend{
	text-align:center;
	background-color:#834088;
	padding-bottom:5px;
	margin-top:10px;
}

 h1{
	font-size:1em;

}
.event-card p{
	padding-top:5px;
}
.arrow{
	width:10%;
	right:50%;
	float: right;
}
.tick{
	height:8%;
	width:8%;
	float:right;
}
.minute{
	display:inline;
}
.hour{
	display:inline;
}
.card-left div{
	display:inline;
}
.lat, .long, .tag{
	display:none;
}
.mapButton{
	display:none;
}
#tagBar{
	display: flex;
    flex-wrap: nowrap;
	height:50px;
	background-color:#834088;
	margin:0;
	padding-bottom:5px;
}

.tagButton{
	width: calc(100%/6);
    height: auto;
	/* border:solid 2px #db7ae2;
	border-radius: 4px; */
}
#displayTag{
	text-align:center;
	display:none;
	margin-left:17px;
}
#displayTag img{
	float:right;
	height:16px;
	margin-top:1px;
	margin-right:1px;
}
#topTag{
	text-align:center;
	font-size:0.8em;
	color:white;
	background-color:#834088;
}
#date{
	text-align:center;
	font-size:0.8em;
}