* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: "centuryGothic";

}

#home{
	background-image: url("../images/home.png");
	background-repeat: no-repeat;
	background-color: Transparent;
	border: none;
	height: 46px;
	width: 57px;
	margin-top: 6px;
	margin-left: 6px;
}

header {
	background-color: #856088;
	color: #fff;
	width: 100%;
	height: 60px;
	position: relative;
	font-weight: bold;

}

header a{
	float: left;
	position: absolute;
	top: 10px;
	left: 10px;
}

body {
	width: 100%;
	height: 100%;
    padding: 10px;
}

#frame {
	background-color: #fafafa;
	height: 1000px;
	width: 550px;
	position: absolute;
	/*
	margin: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	*/
}

#logo {
	float: right;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-size: 25px;
}
#logo img{
	margin-top:12px;
	height:45px;
}
#mainFrame {
	position: absolute;
	top: 60px;
	left: 0px;
	right: 0px;
	bottom: 0px;
/*	height: 100%;*/
    height: calc(100% - 60px);
	width: 100%;
    padding-bottom: 0px;
	
}

::-webkit-scrollbar {
	display: none;
}

@font-face {
	font-family: centuryGothic;
	src: url(fonts/century_gothic.ttf);
}

@font-face {
	font-family: centuryGothicBold;
	src: url(fonts/century_gothic_bold.ttf);
}

.button{
	background-color: #856088;
	height: 200px;
	width: 200px;
	border: none;
	border-radius: 5px;
	margin-left: 40px;
	margin-top: 40px;	
	font-family: centuryGothic;
	font-weight: bold;
	font-size: 27px;
}

.heading{
	font-family: centuryGothic;
	font-size: 10px;
	
}

/* Map Page */
#map {
		margin-top: 20px;
        height: 500px;
        width: 100%;
       }
       
#phone-content{
		height: 575px;
		width: 323.43px;
		border-style: solid;
       	position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%) ;
       }
       
#h3{
	font-family: "Verdana";
	font-size: 20px;
	margin-left: 20px;
	color: blue;
}

.mapbutton{
	width: 100%;
	text-align: center;
	background-color: #47105d; /* UQ Trademark Purple */
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 8px;
}

.wrapper{
	width: 100%;
}

.parent{
	overflow: hidden;
	text-align: center;
}

#progressBar1Dark{
	background-color: #44146f;
	height: 50px;
	width: 50px;
	border-radius: 5px;
	display: inline-block;
	margin-right: 5%;
	margin-left: 5%;

}

#progressBar2{
	background-color: #856088;
	height: 50px;
	width: 50px;
	border-radius: 5px;
	display: inline-block;
	margin-right: 5%;


}

#progressBar2Dark{
	background-color: #44146f;
	height: 50px;
	width: 50px;
	border-radius: 5px;
	display: inline-block;
	margin-right: 5%;

}

#progressBar3{
	background-color: #856088;
	height: 50px;
	width: 50px;
	border-radius: 5px;
	display: inline-block;
	margin-right: 5%;

}

#progressBar3Dark{
	background-color: #44146f;
	height: 50px;
	width: 50px;
	border-radius: 5px;
	display: inline-block;
	margin-right: 5%;

}

h2{ 
	color: #fafafa;
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
}

h1{
	text-align: center;
	margin-bottom: 10px;
	margin-top: 5%;
	clear: left;
}

label{
	margin-top: 5%;
	float: left;
	clear: left;
}

#to{
	float: left;
	clear: none;
}

input, textarea{
	background-color: #856088;	
	color: #fafafa;
    width: 90%;
    padding: 10px 10px;
    margin: 8px 10px;
    display: inline-block;
    border-radius: 5px;
    resize: none;
    float: left;
    clear: left;
}

textarea::placeholder, select::placeholder{
	color: #fafafa;
	font-style: italic;
}

select{
	background-color: #856088;	
    width: 90%;
    padding: 10px 10px;
    margin: 8px 10px ;
    display: inline-block;
    border-radius: 5px;
    color: #fafafa;
    float: left;
    clear: left;
}

#start_time, #end_time{
	width: 30%;
	float: left;
	clear: none;
}
#next{
	background-color: #44146f;
	width: 25%;
	margin-right: 7%;
	float:right;
}

.date-heading{
	color:  #834088;
	text-align: left;
	margin-top: 10px;
	font-family: centuryGothicBold;
	
}

.event-card{
	height: 100%;
	width: 95%;
	background-color: #856088;
	overflow: hidden;
	margin-top: 10px;
}

.event-card h2{
	font-family: centuryGothicBold;
	text-align: left;
	margin-left: 26%;
	color: #fff;
}

.event-card p{
	color: #fff;
	margin-left: 26%;
	font-size: 18px;
	
}

.card-left{
	float: left;
	width: 25%;
   
    background-color: grey;
    padding-bottom: 100%;
    margin-bottom: -100%;
	
	background-color: #834088;
}


.card-left h1{
	font-family: centuryGothicBold;
	color: #fff;
}


