body{

}

input{
	color:black;
	height:10%;
	font-size:0.7em;
	overflow:hidden;
	margin:0;
	border-radius:0;
}
.clear {
    clear:both;
    line-height:0;
}
#send{
	display:flex;
	width:calc(100%/4);
	padding:clear;
}
#message{
	height:40px;
	display:flex;
	width:calc(300%/4);
}
#chat-footer{
	position:fixed;
	height:auto;
	/* bottom:clear; */
	/* top:100%; */
	bottom:5%;
	background-color:white;
	clear:both;
}
#chatDiscussion{
	
	width:100%;
	height:auto;
	margin-bottom:50px;
}
#chatDiscussion .chatBox{
	display:block;
	width:90%;
	overflow:hidden;
}
.fullMessage{
	display:none;
}
.personLeft{
	left: 5px;
	float:right;
}
.personRight{
	right: 5px;
	float:left;
	
}
.chatBadge{
	width:15%;
	position:relative;
	bottom:17px;
}
.badgeRight{
	float:right;
}

.name{
	display: inline-block;
	bottom: 22px;
	position: relative;
	font-size:0.8em;
}
.nameRight{
	float:right;
	bottom:3px;
}
#1.fullMessage{
	display:block;
}

#newMedal{
	padding-top:3%;
	padding-bottom:3%;
	width:100%;
	text-align:center;
	background-color:#856088;
	position:fixed;
	z-index:10;
	display:none;
	color:white;
}
