* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: "centuryGothic";

}

#home{
	background-image: url("../images/home.png");
	background-repeat: no-repeat;
	background-color: Transparent;
	border: none;
	height: 46px;
	width: 57px;
	margin-top: 6px;
	margin-left: 6px;
}

header {
	background-color: #856088;
	color: #fff;
	width: 100%;
	height: 60px;
	position: relative;
	font-weight: bold;

}

header a{
	float: left;
	position: absolute;
	top: 10px;
	left: 10px;
}

body {
	width: 100%;
	height: 100%;
}

#frame {
	background-color: #fafafa;
	height: 75%;
	width: 21.187%;
	position: absolute;
	margin: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

}

#logo {
	float: right;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-size: 25px;
}

#mainFrame {
	position: absolute;
	top: 50px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	height: 100%;
	width: 100%;
	padding: 10px;
	
}

::-webkit-scrollbar {
	display: none;
}

@font-face {
	font-family: centuryGothic;
	src: url(fonts/century_gothic.ttf);
	
}

.button{
	background-color: #856088;
	height: 200px;
	width: 200px;
	border: none;
	border-radius: 5px;
	margin-left: 40px;
	margin-top: 40px;	
	font-family: centuryGothic;
	font-weight: bold;
	font-size: 27px;
}

.heading{
	font-family: centuryGothic;
	font-size: 10px;
	
}


