* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: "centuryGothic";

}
.indexButton{
	height:100%;
}
#home{
	background-image: url("../images/home.png");
	background-repeat: no-repeat;
	background-color: Transparent;
	border: none;
	height: 46px;
	width: 57px;
	margin-top: 14px;
	margin-left: 6px;
}

a:link{
	color: #fafafa;
}

a:visited{
	color: #fafafa;
	opacity: .5;
}

header {
	background-color: #834088;
	color: #fff;
	width: 100%;
	height: 60px;
	position: relative;
	font-weight: bold;

}

header a{
	float: left;
	position: absolute;
	top: 10px;
	left: 10px;
}

body {
	width: 100%;
	height: 100%;
   
}


#phone {
    background-image: url("../images/phone.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0px auto;
    position: relative;
    height: 520px;
    width: 272px;
}

#frame {
    position: absolute;
	background-color: #fafafa;
	display: block;
    top: 47px;
    bottom: 46px;
    left: 16px;
    right: 17px;
}

#mobile-frame {
    position: absolute;
	background-color: #fafafa;
	display: block;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#logo {
	float: right;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-size: 25px;
}
#logo img{
	margin-top:12px;
	height:35px;
}
#mainFrame {
	position: absolute;
	top: 60px;
	left: 0px;
	right: 0px;
    height: calc(100% - 100px);
	width: 100%;
    padding-bottom: 0px;
	
}

#bottom-tabs {
    position: absolute;
    bottom: 0px;
    text-align: center;
    width: 100%;
}

#bottom-tabs > button {
    width: 18%;
    height: 35px;
    background-color: #856088;
     display: inline-block;
    display: -moz-inline-box;
    *display: inline; /* For IE7 */
    zoom: 1; /* Trigger hasLayout */
   
    text-align: center;
}

::-webkit-scrollbar {
	display: none;
}




@font-face {
	font-family: centuryGothic;
	src: url(fonts/century_gothic.ttf);
}

@font-face {
	font-family: centuryGothicBold;
	src: url(fonts/century_gothic_bold.ttf);
}

.button{
	background-color: #856088;
	height: 135px;
	width: 135px;
	border: none;
	border-radius: 5px;
	margin-left: 40px;
	margin-top: 40px;	
	font-family: centuryGothic;
	font-weight: bold;
	font-size: 27px;
}

.heading{
	font-family: centuryGothic;
	font-size: 10px;
	
}

/* Map Page */

#myLocation{
	position:absolute;
	top:48%;
	left:81%;
	z-index:10;
}
#myLocation img{
	height:25px;
}
.mapButton img{
	height:25px;
}
#map {
		
        height: 100%;
        width: 100%;
       }
       
#phone-content{
		height: 575px;
		width: 323.43px;
		border-style: solid;
       	position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%) ;
       }
       
#h3{
	font-family: "Verdana";
	font-size: 20px;
	margin-left: 20px;
	color: blue;
}

.mapbutton{
	width: 100%;
	text-align: center;
	background-color: #47105d; /* UQ Trademark Purple */
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 8px;
}

.wrapper{
	width: 100%;
}

.parent{
	overflow: hidden;
	text-align: center;
}

#button1{
	background: url(../images/home_icons/events.png) no-repeat;
	background-color: #856088;
	background-position: center;
	background-size: 70% 70%;
}

#button2{
	background: url(../images/home_icons/my_events.png) no-repeat;
	background-color: #856088;
	background-position: center;
	background-size: 70% 70%;
}

#button3{
	background: url(../images/home_icons/create_event.png) no-repeat;
	background-color: #856088;
	background-position: center;
	background-size: 70% 70%;
}

#button4{
	background: url(../images/home_icons/chat.png) no-repeat;
	background-color: #856088;
	background-position: center;
	background-size: 70% 70%;
}

#button5{
	background: url(../images/home_icons/profile.png) no-repeat;
	background-color: #856088;
	background-position: center;
	background-size: 70% 70%;
}

#studyBtn, #sportsBtn, #foodBtn, #clubsBtn, #miscBtn{
	height: 60px;
	width: 60px;
	float: left;
	clear: left;
	margin: 2%;
	margin-left: 20%;
}

#studyBtn{
	background: url(../images/tag_icons/study_not.png) no-repeat;
	background-color: #856088;
	background-position: center;
	background-size: 90% 90%;
}

#sportsBtn{
	background: url(../images/tag_icons/sports_not.png) no-repeat;
	background-color: #856088;
	background-position: center;
	background-size: 90% 90%;

}

#foodBtn{
	background: url(../images/tag_icons/food_not.png) no-repeat;
	background-color: #856088;
	background-position: center;
	background-size: 90% 90%;
}

#clubsBtn{
	background: url(../images/tag_icons/clubs_not.png) no-repeat;
	background-color: #856088;
	background-position: center;
	background-size: 90% 90%;
}

#miscBtn{
	background: url(../images/tag_icons/misc_not.png) no-repeat;
	background-color: #856088;
	background-position: center;
	background-size: 90% 90%;
}

#tag_labels{
	float:left;
	clear:none;
	margin-top: 7%;
	margin-left: 130%;
	font-size: 25px;
}

.button a{
	opacity: 0;
}

#progressBar1Dark{
	background-color: #44146f;
	height: 50px;
	width: 50px;
	border-radius: 5px;
	display: inline-block;
	margin-right: 5%;
	margin-left: 5%;
	margin-top: 5%;

}

#progressBar2{
	background-color: #856088;
	height: 50px;
	width: 50px;
	border-radius: 5px;
	display: inline-block;
	margin-right: 5%;


}

#progressBar2Dark{
	background-color: #44146f;
	height: 50px;
	width: 50px;
	border-radius: 5px;
	display: inline-block;
	margin-right: 5%;

}

#progressBar3{
	background-color: #856088;
	height: 50px;
	width: 50px;
	border-radius: 5px;
	display: inline-block;
	margin-right: 5%;

}

#progressBar3Dark{
	background-color: #44146f;
	height: 50px;
	width: 50px;
	border-radius: 5px;
	display: inline-block;
	margin-right: 5%;

}

#eventcard h2{ 
	color: #fafafa;
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
	margin-top: 0px;
	float: left;
}

h1{
	text-align: center;
	margin-bottom: 10px;
	margin-top: 5%;
	clear: left;
	font-family: centuryGothicBold;
	color: #856088;
}

h2, h3{
	text-align: center;
	font-family: centuryGothicBold;
	color: #856088;
}

#progress{
	margin-top: 20%;
}


#eventForm{
	margin-left: 2%;
	margin-right: 2%;


	
}

#map{
	height: 100px;
	padding: 20%;
	border: 5px solid #856088;
	border-radius: 5px;

	
}

label{
	margin-top: 2%;
	float: left;
	clear: left;
	margin-left: 2%;
	margin-right: 2%;
	font-size: 18px;
}

#to{
	float: left;
	clear: none;

}

input, textarea{
	background-color: #856088;	
	color: #fafafa;
	font-size: 16px;
    width: 90%;
    padding: 10px 10px;
    margin: 8px 10px;
    display: inline-block;
    border-radius: 5px;
    resize: none;
    float: left;
    clear: left;
}

textarea::placeholder{
	color: #fafafa;
	font-style: italic;
	font-size: 16px;
	opacity: .5;
}

select{
	background-color: #856088;	
	font-size: 16px;
    width: 90%;
    padding: 10px 10px;
    margin: 8px 10px ;
    display: inline-block;
    border-radius: 5px;
    color: #fafafa;
    float: left;
    clear: left;
}

#selectPlaceholder{
	color: #fafafa;
	font-style: italic;
	font-size: 16px;
	opacity: .5;	
}

#start_time{
	width: 35%;
	float: left;
	clear: left;
}

#end_time{
	width: 35%;
	float: left;
	clear: none;
}

#next, #next1, #done{
	background-color: #44146f;
	height: 50px;
	width: 80px;
	margin-right: 9%;
	float:right;
	margin-bottom: 2%;
	margin-top: 2%;
	clear: left;
}

#done{
	margin-right: 6%;
	margin-top: 10%;
	height: 60px;
	width: 200px;
}

#next1{
	margin-top: 30%
}

#next-tags{
	background-color: #44146f;
	width: 150px;
	height: 45px;
	margin-top: 50px;
	float:right;
	margin-bottom: 2%;
}

#selectedTags{
	font-family: centuryGothic;
	text-align: center;
	color: #856088;
	font-size: 20px;
}

#content{
	margin: auto;
}

#next a, #done a{
	opacity: 1;
}

.date-heading{
	color:  #834088;
	text-align: left;
	margin-top: 10px;
	font-family: centuryGothicBold;
	
}

.event-card{
	width: 100%;
	background-color: #856088;
	overflow: hidden;
	margin-top: 10px;
}

.event-card h2{
	font-family: centuryGothicBold;
	font-size:15px;
	text-align: left;
	margin-left: 26%;
	color: #fff;
}

.event-card p{
	color: #fff;
	margin-left: 26%;
	font-size: 12px;
	
}

.card-left{
	float: left;
	width: 25%;
    background-color: grey;
    padding-bottom: 100%;
    margin-bottom: -100%;
	background-color: #834088;
}

.card-left h1{
	font-family: centuryGothicBold;
	font-size: 15px;
	color: #fff;
}

.card-right{
	padding: 5px;
}

#chat-bar{
	height: 25px;
	width: 100%;
	margin-top: 5px;
	background-color: #856088;
}

#chat-bar p{
	padding-left: 5px;
	color: #fff;
	float:left;
	font-size: 18px;
	font-family: centuryGothicBold;
}

#attendees{
	float:left;
	margin-left: 70%;
}

#chat-footer{
	position: absolute;
    left: 0;

    height: 40px;
    width: 100%;
    overflow:hidden;
}

#chat-break{
	height: 10px;
	width: 100%;
	background-color: #856088;
}

#message{
	float:left;
	background-color: #fff;
	height: 25px;
	width: 62%;
}

#message p{
	color: #fff;
}

#send{
	width: 50px;
	height: 25px;
	padding: 0px;
	float:right;
}

#send p{
	font-size: 5px;
	
}

.mapButton{
	display:none;
}
.dayBreak{
	text-align:center;
	font-size:0.8em;
}